.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr 3fr;
}

.vertical_grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
}

.pass_button {
    width: 100%;
    font-size: small;
}

.pass_button_active {
    background-color: #A6A6A6;
}