.react-autosuggest__input {
    height: 30px;
    width: 100%;
    font-size: 120%;
    padding-left: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 300px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-size: 120%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.visNetwork {
    background-color: '#f7f9ef';
}

.machine-instruction {}

.machine-instruction-basic-block {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
}

.machine-instruction-name {
    font-weight: bold;
    padding-left: 20px;
}

.machine-instruction-operands {
    font-style: italic;
    margin-left: 10px;
}

.machine-instruction-result {
    font-style: italic;
}

.machine-instruction-successor {
    margin-left: 10px;
}

.selection-checkbox {
    padding-left: 20px;
}

.selection-label {
    margin-right: 10px;
}

.node-search-box {
    padding-right: 20px;
    width: '100%';
}

.machine_code_table {
    max-width: 600px;
}

.machine_code_mbb {
    margin-top: 20px;
    font-size: 120%;
    font-weight: bold;
}

.machine_code_address {}

.machine_code_bin {}

.machine_code_instruction {
    font-size: 110%;
    font-weight: bold;
}

.machine_code_operands {
    font-style: italic;
}